@import '@home/style/index.scss';

$white: #ffffff;
$blue-dark: #1769aa;
$orange-main: #ff5722;
$grey-main: #9e9e9e;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/**Header**/
header {
    height: 100%;
    background-color: $blue-dark;
    font-weight: bold;
    
    p {
      font-size: 24px;
      padding: 30px 0px 0px 30px;
      text-transform: uppercase;
      color: $white;
    }

    nav {
        ul {
            margin: 0;
            padding-left: 18px;
            list-style: none;
        }
        li { 
          display: inline-block; 
        }
        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: $orange-main;
            
        }
        .active {
          background-color: $white;
        }
    }
}


/***Main*****/
main {
    min-height: 500px;
    padding: 10px 30px;
}

/***Footer*****/
footer {
   bottom:0;
   width:100%;
  p {
    font-size: 12px;
    text-align: center;
  }
}


