
/***** Continent compoenent *****/
.continents {
  .list-group-item {
    cursor: pointer;
  }
  .list-group-item div:hover {
    background-color: #e9e9e9;
  }
}

/***** Autocomplete component *****/
.autocomplete {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    .input-group {
        border: 1px solid #d4d4d4;
        background-color:#d4d4d4;
        //padding: 10px;
        font-size: 14px;
        width: 100%;
    }
    .autocomplete-items {
      width: 100%;
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
      max-height: 350px;
      overflow-y: auto;
    }
    .autocomplete-items div {
      width: 100%;
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }
    .loading {
        justify-content: center;
        display: flex;
    }
}
/*************** Content ******************/
.page-title {
    margin: 20px auto;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
}
.country-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  color: #1769aa;
  margin: 10px auto;
}

    